body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    font-family: Arial, sans-serif; /* Added for global font */
  }
  
  .header-image {
    max-width: 500px;
    border-radius: 10px;
  }
  
  section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .icon-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .icon-link:hover {
    color: #ccc;
  }
  
  .image-text-pair {
    text-align: center;
  }
  .section-image {
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  #hobbies h2 {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  #hobbies ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #hobbies ul li {
    font-size: 1.5em;
    color: #333;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #hobbies ul li i {
    font-size: 2.5em;
    color: #000;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  #hobbies ul li i:hover {
    transform: scale(1.2);
  }
  
  #personal .section-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  #personal .section-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  #about, #hobbies, #personal {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  #about:hover, #hobbies:hover, #personal:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  #personal h2 {
    font-size: 2em;
    text-align: Left;
    margin-bottom: 5px;
    color: #333;
  }

  .contact-form {
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 4px solid #ccc;
    border-radius: 5px;
  }

  .contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .contact-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;   
  
  }
  .contact-form:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }